[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyside6 = "*"
prefixed = "*"
setuptools = "*"
wheel = "*"
sphinx = "*"
pytest = "*"
send2trash = "*"
pyudev = "*"

[requires]
python_version = "3.10"
